h1 {
    color: violet;
    text-align: center;
}



#heading-harvard {
    color: brown;
}

.lizard {
    color: green;
}

.whale {
    color: blue;
}

table {
    border-collapse: collapse;
}

td, th, table {
    border: 1px solid black;
}

p > a {
    color: red;
}

p + a {
    color: red; 
}

a[href="https://facebook.com"] {
    color: blue
}

button {
    background-color: red;
    width: 200px;
    height: 50px;
    font-size: 24px; 
}

button:hover {
    background-color: green;
}

button::before {
    content: "⭕️";
    color: white;
}
